flask
flask_cors
google-generativeai
pytesseract
Pillow
python-docx
langchain
langchain_community
sqlalchemy
psycopg2-binary
faiss-cpu
requests
pdfplumber
PyMuPDF
google-search-results
langchain-ollama 